html, body {
    height: 100%;
    width: 100%;
    background-color: var(--primary);
}

nav {
    /* position */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    /* affichage */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

section {
    border: 5px solid red;
    height: 80vh;
}